@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inkludiert Padding und Border in die Elementbreite und -höhe */
}

div#content-outer {
    width: 100%;
    height: 100%;
}

div#content-inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	margin-top: 1rem;
    margin-bottom: 1rem;
	flex-direction: column;
}

div#form-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.button-area {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#numberInput, #output, textarea, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
	box-sizing: border-box;
}

textarea {
	width: 100%;
}

#numberInput {
    min-height: 200px;
}

#output {
    min-height: 200px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
	margin: 0;
}

button.search {
    background-color: #444444;
    color: white;
}

button.search:hover {
    background-color: black;
}

button:hover {
    background-color: #0056b3;
}

#output {
    height: 100px;
    resize: none;
}

textarea#searchLinkOutput {
    min-height: 100px;
	margin-left: 0.5rem;
}

#searchLink {
    display: none;
}

#popupMessage {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #4CAF50; /* Moderner Grünton */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
    display: none;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Subtiler Schatten */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Subtiler Schatten */
    font-weight: bold;
}

div#return-button {
    position: relative;
    background-color: #f2f2f2;
    color: black;
    padding: 1rem;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    border-bottom: 1px solid #ddd;
}

#return-button a {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.output-boxes {
    width: 100%;
    display: flex;
}

#conversionHistory li {
    font-size: 14px; /* Kleiner Schriftgrad für Historieneinträge */
    margin-bottom: 10px; /* Abstand zwischen den Einträgen */
    list-style-type: none; /* Keine Listensymbole */
    padding: 5px; /* Etwas Polsterung für bessere Lesbarkeit */
    border-bottom: 1px solid #ccc; /* Eine Linie zwischen den Einträgen */
	word-break: break-all;
}

#historyContainer {
	width: 100%;
	padding: 1rem;
}


.historyContainer-top {
	margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 10px;
}

.historyContainer-top h3 {
    margin-right: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
	font-weight: bold;
	padding: 10px 15px;
}

button.red {
    background-color: red;
}

button i {
    font-size: 1em;
}

button.red.clearhistory {
    font-size: 10px;
}

.restore-icon {
    cursor: pointer;
    margin-left: 10px; /* Ein wenig Abstand vom Text */
    color: #007bff; /* Farbe des Icons */
}

.restore-icon:hover {
    color: #0056b3; /* Dunklere Farbe beim Hover für bessere Sichtbarkeit */
}

#conversionHistoryTable {
    width: 100%;
    border-collapse: collapse;
}

#conversionHistoryTable, #conversionHistoryTable th, #conversionHistoryTable td {
    border: 1px solid #ccc;
}

#conversionHistoryTable th, #conversionHistoryTable td {
    padding: 8px;
    text-align: left;
	word-break: break-all;
}

#conversionHistoryTable tr > th {
	word-break: normal;
}

.restore-icon {
    cursor: pointer;
    color: #007bff;
    font-size: 1.2em;
}

.restore-icon:hover {
    color: #0056b3;
}

tbody#conversionHistory {
    font-size: 12px;
}

i.fas.fa-redo.restore-icon {
    margin: 0;
    display: flex;
    justify-content: center;
}

#conversionHistoryTable td span {
    font-weight: normal;
	display: inline-block;
}

#conversionHistoryTable td span:last-child {
    padding-right: 0; /* Entfernt den Abstand am Ende der Zelle */
}

.timestamp-cell {
    cursor: pointer;
    color: #007bff; /* Hervorhebung der Interaktivität */
}

div#sortAndLayoutDropDown {
    display: flex;
    grid-gap: 1rem;
	padding-bottom: 1rem;
}